<a href="https://colab.research.google.com/github/Nayan1234l/Admin1/blob/main/machine_learning_lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FileNotFoundError: ignored

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/nayan/main")

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df.loc[10:50:2]

    sepal_length  sepal_width  petal_length  petal_width     species
10           5.4          3.7           1.5          0.2      setosa
12           4.8          3.0           1.4          0.1      setosa
14           5.8          4.0           1.2          0.2      setosa
16           5.4          3.9           1.3          0.4      setosa
18           5.7          3.8           1.7          0.3      setosa
20           5.4          3.4           1.7          0.2      setosa
22           4.6          3.6           1.0          0.2      setosa
24           4.8          3.4           1.9          0.2      setosa
26           5.0          3.4           1.6          0.4      setosa
28           5.2          3.4           1.4          0.2      setosa
30           4.8          3.1           1.6          0.2      setosa
32           5.2          4.1           1.5          0.1      setosa
34           4.9          3.1           1.5          0.1      setosa
36           5.5          3.5           1.3          0.2      setosa
38           4.4          3.0           1.3          0.2      setosa
40           5.0          3.5           1.3          0.3      setosa
42           4.4          3.2           1.3          0.2      setosa
44           5.1          3.8           1.9          0.4      setosa
46           5.1          3.8           1.6          0.2      setosa
48           5.3          3.7           1.5          0.2      setosa
50           7.0          3.2           4.7          1.4  versicolor

In [ ]:
df.loc[0:10,["sepal_width","species",]]

    sepal_width species
0           3.5  setosa
1           3.0  setosa
2           3.2  setosa
3           3.1  setosa
4           3.6  setosa
5           3.9  setosa
6           3.4  setosa
7           3.4  setosa
8           2.9  setosa
9           3.1  setosa
10          3.7  setosa

In [ ]:
df.iloc[40:45,0:4]

    sepal_length  sepal_width  petal_length  petal_width
40           5.0          3.5           1.3          0.3
41           4.5          2.3           1.3          0.3
42           4.4          3.2           1.3          0.2
43           5.0          3.5           1.6          0.6
44           5.1          3.8           1.9          0.4

In [ ]:
df.iloc[100:150:2,0:5:2]

     sepal_length  petal_length    species
100           6.3           6.0  virginica
102           7.1           5.9  virginica
104           6.5           5.8  virginica
106           4.9           4.5  virginica
108           6.7           5.8  virginica
110           6.5           5.1  virginica
112           6.8           5.5  virginica
114           5.8           5.1  virginica
116           6.5           5.5  virginica
118           7.7           6.9  virginica
120           6.9           5.7  virginica
122           7.7           6.7  virginica
124           6.7           5.7  virginica
126           6.2           4.8  virginica
128           6.4           5.6  virginica
130           7.4           6.1  virginica
132           6.4           5.6  virginica
134           6.1           5.6  virginica
136           6.3           5.6  virginica
138           6.0           4.8  virginica
140           6.7           5.6  virginica
142           5.8           5.1  virginica
144           6.7           5.7  virginica
146           6.3           5.0  virginica
148           6.2           5.4  virginica

In [ ]:
df.iloc[100:150:2,1:5:2]

     sepal_width  petal_width
100          3.3          2.5
102          3.0          2.1
104          3.0          2.2
106          2.5          1.7
108          2.5          1.8
110          3.2          2.0
112          3.0          2.1
114          2.8          2.4
116          3.0          1.8
118          2.6          2.3
120          3.2          2.3
122          2.8          2.0
124          3.3          2.1
126          2.8          1.8
128          2.8          2.1
130          2.8          1.9
132          2.8          2.2
134          2.6          1.4
136          3.4          2.4
138          3.0          1.8
140          3.1          2.4
142          2.7          1.9
144          3.3          2.5
146          2.5          1.9
148          3.4          2.3

In [ ]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
max(df.sepal_length)

7.9

In [ ]:
min(df.sepal_length)

4.3

In [ ]:
pd.unique(df['sepal_length'])

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [ ]:
pd.unique(df.sepal_length)

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [ ]:
max(df['sepal_length'])

7.9

In [ ]:
data = df['sepal_length'].value_counts()
print(data)

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [ ]:
data = df['petal_length'].value_counts()
print(data)

1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: petal_length, dtype: int64